# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Allow this specific database but ignore others
!backend/app/db/database.db
*.db                        # Ignore other DB files

# IDE
.vscode/
.idea/

# Other
.DS_Store

# Node
node_modules/
